asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
crispy-bootstrap5==2024.10
cryptography==44.0.1
defusedxml==0.7.1
Django==4.2.5
django-allauth==0.61.1
django-bootstrap5==23.4
django-crispy-forms==2.3
idna==3.10
oauthlib==3.2.2
pillow==11.1.0
psycopg==3.2.5
psycopg-binary==3.2.5
pycparser==2.22
PyJWT==2.10.1
PyMySQL==1.1.1
python-dotenv==1.0.1
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
