<!DOCTYPE html>
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}パスワード再設定｜NAGOYAMESHI{% endblock %}
{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row col-12 col-md-5">
        <div class="my-div-style">
            <h1 class="text-center mb-4">パスワード再設定</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>パスワードリセット用のメールを送信します。</p>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% if validlink %}
                {% include "_form.html" with submit_label="変更" %}
                {% csrf_token %}
                {% bootstrap_form form %}
                {% else %}
                <p>無効なリンクです。</p>
                {% endif %}
                <button type="submit" class="btn btn-primary w-100 mt-4">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}