<!DOCTYPE html>
{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}パスワード再設定｜NAGOYAMESHI{% endblock %}
{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="my-div-style">
            <h1>パスワード再設定</h1>
            <p>新しいパスワードを入力してください。</p>
            <form method="post" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
                {% include "form.html" with submit_label="送信" %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">パスワードを変更する</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}