<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block form %}
{% for field in form %}
<div class="mb-3">
    {{ field.label_tag }}
    {{ field }}
    {% if field.errors %}
    <div class="text-danger">
        {{ field.errors }}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock form %}

{% block formset %}
<div class="formset">
    {% for form in formset.forms %}
        <div class="formset-form">
            {{ form|crispy }}
            <button type="button" class="btn btn-danger remove-form">Remove</button>
        </div>
    {% endfor %}
    <button type="button" class="btn btn-primary add-form">Add another</button>
</div>
{% endblock formset %}

{% block formset_js %}
<script type="text/javascript">
    $(document).ready(function() {
        var formsetForm = $('.formset-form:first').clone();
        $('.add-form').click(function() {
            var newForm = formsetForm.clone();
            newForm.find('input, select, textarea').each(function() {
                var name = $(this).attr('name').replace(/-\d+-/, '-' + (formsetForm.length) + '-');
                $(this).attr('name', name).val('').removeAttr('id');
            });
            $('.formset').append(newForm);
        });
        $('.remove-form').click(function() {
            $(this).closest('.formset-form').remove();
        });
    });
</script>
{% endblock formset_js %}

{% block formset_css %}
<style type="text/css">
    .formset-form {
        margin-bottom: 20px;
    }
    .formset-form .remove-form {
        display: none;
    }
    .formset-form:hover .remove-form {
        display: inline-block;
    }
    .formset-form .btn-primary {
        margin-top: 10px;
    }
</style>
{% endblock formset_css %}
