<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}カテゴリ削除|NAGOYAMESHI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>カテゴリ削除</h1>
            <form method="post">
                {% csrf_token %}
                <p>カテゴリ "{{ category.name }}"を削除しますか?</p>
                <button type="submit" class="btn btn-danger">削除</button>
                <a href="{% url 'category_list' %}" class="btn btn-secondary">キャンセル</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}