<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}カテゴリ一覧|NAGOYAMESHI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>カテゴリ一覧</h1>
            <a href="{% url 'category_create' %}" class="btn btn-primary">カテゴリ作成</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>カテゴリ名</th>
                        <th>更新</th>
                        <th>削除</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td><a href="{% url 'category_update' category.id %}" class="btn btn-primary">更新</a></td>
                        <td><a href="{% url 'category_delete' category.id %}" class="btn btn-danger">削除</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}