<!DOCTYPE html>
{% extends 'admin/base.html' %}
{% load static %}
{% block title %}管理者用サイト｜NAGOYAMESHI{% endblock %}
{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>管理者用サイト</h1>
            <p>管理者用サイトにログインしました。</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h2>機能一覧</h2>
            <ul>
                <li><a href="{% url 'crud:shop_list' %}">店舗管理</a></li>
                <li><a href="{% url 'crud:category_list' %}">カテゴリ管理</a></li>
                <li><a href="{% url 'crud:user_list' %}">会員管理</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}