<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}店舗一覧｜NAGOYAMESHI{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>店舗一覧</h1>
            <a href="{% url 'crud:shop_create' %}" class="btn btn-primary">新規作成</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <table class="table">
                <thead>
                    <tr>
                        <th>店舗名</th>
                        <th>詳細</th>
                        <th>営業日</th>
                        <th>営業時間</th>
                        <th>郵便番号</th>
                        <th>住所</th>
                        <th>電話番号</th>
                        <th>作成日</th>
                        <th>更新日</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shop in object_list %}
                    <tr>
                        <td><a href="{% url 'crud:shop_detail' shop.pk %}">{{ shop.shop_name }}</a></td>
                        <td>{{ shop.detail }}</td>
                        <td>{{ shop.business_day }}</td>
                        <td>{{ shop.bussiness_hour }}</td>
                        <td>{{ shop.p_code }}</td>
                        <td>{{ shop.address }}</td>
                        <td>{{ shop.tel }}</td>
                        <td>{{ shop.created_at }}</td>
                        <td>{{ shop.updated_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}