<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}店舗詳細｜NAGOYAMESHI{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>店舗詳細</h1>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h2>{{ object.shop_name }}</h2>
            <p>店舗の詳細情報を表示します。</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>店舗情報</h3>
            <p>以下の情報は、店舗の詳細情報です。</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>店舗画像</h3>
            <img src="{{ object.img.url }}" alt="{{ object.shop_name }}" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>店舗詳細</h3>
            <p>{{ object.detail }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>営業日</h3>
            <p>{{ object.business_day }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>営業時間</h3>
            <p>{{ object.bussiness_hour }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>郵便番号</h3>
            <p>{{ object.p_code }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>住所</h3>
            <p>{{ object.address }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>電話番号</h3>
            <p>{{ object.tel }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>作成日</h3>
            <p>{{ object.created_at }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>更新日</h3>
            <p>{{ object.updated_at }}</p>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>店舗情報の更新</h3>
            <p>店舗情報を更新するには、以下のリンクをクリックしてください。</p>
            <a href="{% url 'shop_update' object.id %}" class="btn btn-primary">店舗情報を更新する</a>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>店舗情報の削除</h3>
            <p>店舗情報を削除するには、以下のリンクをクリックしてください。</p>
            <a href="{% url 'shop_delete' object.id %}" class="btn btn-danger">店舗情報を削除する</a>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>店舗情報の一覧</h3>
            <p>店舗情報の一覧を表示するには、以下のリンクをクリックしてください。</p>
            <a href="{% url 'shop_list' %}" class="btn btn-secondary">店舗情報の一覧</a>
        </div>
    </div>
    <div class="row">
        <div class="my-div-style">
            <h3>トップページに戻る</h3>
            <p>トップページに戻るには、以下のリンクをクリックしてください。</p>
            <a href="{% url 'top' %}" class="btn btn-secondary">トップページに戻る</a>
        </div>
    </div>
</div>
{% endblock %}